@import '@/scss/include';

.container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.image {
    width: 50%;
    height: 100%;
    background-color: #000407;
    background-image: url('../../../images/spider.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo {
    background-image: url('../../../images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
}

.form form {
    width: 80%;
    display: grid;
    gap: 40px;
}



.input1 {
    grid-column: 1/2;
    grid-row: 1/2;
    @include flex_col;
    input {
        @include input;
    }
}

.input2 {
    grid-column: 2/3;
    grid-row: 1/2;
    @include flex_col;
    input {
        @include input;
    }
}

.input3 {
    grid-column: 1/2;
    grid-row: 2/3;
    @include flex_col;
    input {
        @include input;
    }
}

.input4 {
    grid-column: 2/3;
    grid-row: 2/3;
    @include flex_col;
    input {
        @include input;
    }
}

.input5 {
    grid-column: 1/2;
    grid-row: 3/4;
    @include flex_col;
    input {
        @include input;
    }
}

.input6 {
    grid-column: 2/3;
    grid-row: 3/4;
    @include flex_col;
    input {
        @include input;
    }
}

.btn {
    grid-column: 1/3;
    grid-row: 4/5;
    @include flex_col;
    button {
        background-color: #1880CB;
        padding: 15px;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
}



.oauth {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn1 {
    @include flex_col;
    width: 100%;
    button {
        background-color: white;
        padding: 15px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
        border: 3px solid #1880CB;
        cursor: pointer;
    }
}

//rgb(21, 20, 19)
//rgb(24, 24, 24)
//rgb(0, 0, 0)
//rgb(24, 24, 24)
