@mixin flex_center($pos_jus, $pos_align) {
    display: flex;
    justify-content: $pos_jus;
    align-items: $pos_align;
}

@mixin flex_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@mixin input {
    border-radius: 20px;
    height: 30px;
    width: px;
    padding-left: 10px;
    border: 1px solid #1880CB;
}