@mixin flex_center($pos_jus, $pos_align) {
    display: flex;
    justify-content: $pos_jus;
    align-items: $pos_align;
}

@mixin flex_col {
    display: flex;
    flex-direction: column;
}

@mixin input {
    border-radius: 20px;
    height: 25px;
    padding-left: 10px;
    border: 2px solid rgb(7, 171, 193);
}